<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokemon Page</title>
</head>
<body>
  <h1>Homepage</h1>

  <div class="index-container">
   <img src="/images/pokemon.png" alt="">

   <button class="button" type="button"><a href="/pokemons">Check the Beers!</a> </button>
   <button class="button" type="button"><a href="/randomPokemon">Check A Random Beer! </a></button>
</div>
</body>
</html>